body{
   padding: 0;
   margin: 0;
   font-family: sans-serif;
}
.navbar{
   width: 100%;
   margin: auto;
   display: flex;
   justify-content: space-around;
   position: fixed;
   background: white;
}
a{
   text-decoration: none;
   color: orange;
}
.ul{
   list-style: none;
   display: flex;
}
li{
   margin-left: 20px;
}
.content{
   background-image: url(/officer.jpg);
   width: 95%;
   margin: auto;
   height: 45vh;
   padding: 30px;
   background-size: cover;
}
.text{
   margin-top: 90px;
   width: 500px;
}
.magintop{
   margin-left: 240px;
}
.text-col{
   color: rgb(0, 0, 0);
}
.btn{
   background: rgb(89, 154, 240);
   padding: 10px;
   border: none;
   width: 100px;
   color: white;
}
.sub-content{
   text-align: center;
   width: 80%;
   margin: auto;
   padding: 20px;
}
.icons{
   display: grid;
   grid-template-columns: repeat(3, 1fr );
}
.col{
   width: 80%;
}
.icons-color{
   color: rgb(94, 143, 235);
}
.button{
   background: rgb(25, 112, 226);
   padding: 10px;
   border: none;
   width: 100px;
   color: white;
}
.last-content{
   width: 80%;
   margin: auto;
   padding: 20px;
}
.h3{
   text-align: center;
   margin-top: 40px;
}
img{
   width: 300px;
   height: 200px;
}
.text-alight{
   text-align: left;
}
.img{
   width: 300px;
}
